body {
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: 6px;
}

#logo {
	left: 33px;
	top: 161px;
	width: 416px;
	height: 170px;
}

#gameCapture1 {
	left: 505px;
	top: 0px;
	width: 1415px;
	height: 849px;
}

#gameCapture1B {
	left: 0px;
	top: 701px;
	width: 505px;
	height: 379px;
}

.header {
	font-size: 60px;
	padding-bottom: 10px;
}

#playerContainer {
	left: 684px;
	top: 875px;
	width: 614px;
}

#gameTitleContainer {
	left: 684px;
	top: 980px;
	width: 614px;
}

#gameCategoryContainer {
	left: 1324px;
	top: 875px;
	width: 598px;
}

#gameEstimateContainer {
	left: 1324px;
	top: 980px;
	width: 598px;
}

#timerContainer1 {
	font-size: 200px;
	left: 0px;
	top: 438px;
	width: 505px;
	height: 137px;
}

.timer {
	margin-bottom: -15px;
}