body {
	font-size: 115px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

#logo {
	left: 110px;
	top: 111px;
	width: 715px;
	height: 292px;
}

#intermissionText {
	left: 288px;
	top: 504px;
}

#upNextText {
	left: 1398px;
	top: 90px;
	color: #ff715b;
	font-size: 130px;
}

#gameArtContainer {
	left: 901px;
	top: 181px;
	width: 955px;
	height: 810px;
	justify-content: flex-end; /* Aligns horizontally right. */
}

#gameArtImage {
	box-sizing: border-box;
	border: 10px solid white;
	height: 100%;
	width: auto;
	display: none;
}